.author {
  display: flex;
  align-items: center;
  gap: 12px;

  picture {
    flex-shrink: 0;
  }

  &__img {
    display: block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}
