.collections {
  &__item {
    display: none;
    grid-column: span 12;

    &:first-child {
      display: block;
    }

    &:nth-child(2) {
      @include tablet {
        display: block;
      }
    }

    @include tablet {
      grid-column: span 6;
    }

    @include desktop {
      display: block;
      grid-column: span 4;
    }
  }

  &__wrap {
    margin: 0 auto;
    max-width: 390px;
  }

  &__imgs {
    margin-bottom: 15px;
    gap: 15px;
  }

  &__itemElement {
    grid-column: span 4;
    overflow: hidden;
    border-radius: 20px;

    &:first-child {
      grid-column: span 12;
    }

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--second-family);
      font-weight: 700;
      word-break: break-all;
      text-align: center;
      background-color: var(--accent-color);

      @include tablet {
        font-size: 22px;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__title {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 22px;
  }
}
