.creators {
  &__wrap {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    @include tablet {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__heading {
    grid-column: span 4;

    @include tablet {
      grid-column: span 6;
    }
  }

  &__list {
    counter-reset: num;
    grid-column: span 4;

    @include tablet {
      grid-column: span 12;
    }
  }

  &__item {
    position: relative;
    display: none;
    grid-column: span 12;

    &::before {
      counter-increment: num;
      content: counter(num);
      position: absolute;
      left: 12px;
      top: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      width: 30px;
      height: 30px;
      font-family: var(--second-family);
      color: var(--small-title-color);
      background: var(--grey-color);
    }

    &:nth-child(-n + 5) {
      display: block;
    }

    &:nth-child(-n + 6) {
      @include tablet {
        display: block;
      }
    }

    @include tablet {
      grid-column: span 6;
    }

    @include desktop {
      display: block;
      grid-column: span 3;
    }
  }

  &__link {
    display: flex;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--light-grey-color);
    transition: background-color 0.3s;
    gap: 20px;

    &:hover {
      background-color: var(--grey-color);
    }

    @include desktop {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    @include desktop {
      width: 120px;
      height: 120px;
    }
  }

  &__info {
    @include desktop {
      text-align: center;
    }
  }

  &__name {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 22px;
  }

  &__sale {
    margin: 0;
    color: var(--small-title-color);
  }

  &__sum {
    display: inline-block;
    margin-left: 5px;
    font-family: var(--second-family);
    font-weight: 400;
    color: var(--light-color);

    @include desktop {
      text-align: center;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    order: 3;
    grid-column: span 4;

    @include tablet {
      align-self: flex-end;
      justify-content: flex-end;
      order: 0;
      grid-column: span 6;

      .btn {
        width: auto;
      }
    }
  }
}
