/* stylelint-disable scss/no-global-function-names */
.footer {
  background-color: var(--light-grey-color);

  &__top {
    grid-template-columns: repeat(6, 1fr);
    padding: 40px 0 30px;
    gap: 30px;

    @include desktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    grid-column: span 6;
    gap: 20px;

    @include desktop {
      &:first-child {
        grid-column: span 4;
      }

      &:last-child {
        grid-column: span 6;
      }

      &:nth-child(2) {
        grid-column: span 2;
      }
    }

    @include big-desktop {
      &:last-child {
        grid-column: span 5;
      }

      &:nth-child(2) {
        grid-column: span 3;
      }
    }
  }

  &__logo {
    width: 243px;
    height: 32px;
  }

  &__text {
    margin: 0;
    color: #ccc;

    &--margined {
      margin-bottom: 15px;
    }

    @include desktop {
      max-width: 330px;
    }
  }

  &__copywright {
    margin: 0;
    font-size: 12px;
    color: #ccc;
  }

  &__title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.6;

    &--capitalized {
      text-transform: capitalize;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__menuLink {
    color: #ccc;
    transition: color 0.3s;

    &:hover {
      color: lighten(#a259ff, 20%);
    }
  }

  &__btn {
    @include tablet {
      margin-left: -179px;
      width: 179px;

      .btn__icon {
        display: none;
      }
    }
  }

  &__bottom {
    border-top: 1px solid var(--small-title-color);
    padding: 20px 0 40px;
  }
}
