.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  padding: 15px 0;
  width: 100%;
  background-color: var(--grey-color);
  transition: box-shadow 0.3s;

  &__wrap {
    display: flex;

    @include desktop {
      align-items: center;
    }
  }

  &__btn {
    @include desktop {
      padding: 0 30px;
      width: auto;
    }
  }

  &__burger {
    margin-left: auto;

    @include desktop {
      display: none;
    }
  }

  &--fixed {
    box-shadow: var(--light-shadow);
  }

  @include desktop {
    padding: 20px 0;
  }
}
