<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo">
        <a class="logo header__logo">
          <img src="img/logo.svg" alt="logo" />
        </a>
      </div>

      <nav class="nav" title="Main navigation" data-menu>
        <div class="nav__wrap">
          <ul class="list-reset nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Marketplace</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Rankings</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Connect a wallet</a></li>
          </ul>

          <button class="btn-reset btn btn--accent hero__btn">
            <svg class="btn__icon">
              <use xlink:href="img/sprite.svg#user"></use>
            </svg>
            Sign Up
          </button>
        </div>
      </nav>

      <button class="burger header__burger" aria-label="Open a menu" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
