<section class="section hero">
  <div class="container">
    <div class="hero__wrap flex">
      <div class="hero__heading">
        <h1 class="page-title">Discover digital art &amp;&nbsp;Collect NFTs</h1>
        <p class="page-desc">NFT marketplace&nbsp;UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
      </div>

      <article class="example">
        <a href="#" class="example__link">
          <picture>
            <source srcset="img/hero@2x.webp 2x, img/hero.webp 1x" type="image/webp" media="(min-width: 768px)">
            <source srcset="img/hero@2x.jpg 2x, img/hero.jpg 1x" type="image/jpeg" media="(min-width: 768px)">
            <source srcset="img/hero-mobile@2x.webp 2x, img/hero-mobile.webp 1x" type="image/webp">
            <source srcset="img/hero-mobile@2x.jpg 2x, img/hero-mobile.jpg 1x" type="image/jpeg">
            <img loading="lazy" src="hero.jpg" class="example__img" width="315" height="206" alt="Strange people in the space">
          </picture>

          <div class="example__content">
            <h2 class="example__title">Space Walking</h2>
            <div class="author example__author">
              <picture>
                <source srcset="img/creator-10.webp" type="image/webp">
                <source srcset="img/creator-10.jpg" type="image/jpeg">
                <img loading="lazy" src="creator-10.jpg" class="author__img" width="24" height="24" alt="A man in a helmet">
              </picture>

              <span class="author__name">Animakid</span>
            </div>
          </div>
        </a>
      </article>

      <div class="hero__btns">
        <a href="#" class="btn-reset btn btn--big btn--accent">
          <svg class="btn__icon">
            <use xlink:href="img/sprite.svg#rocket"></use>
          </svg>
          Get Started
        </a>
      </div>

      <ul class="list-reset counter hero__counter grid">
        <li class="counter__item">
          <span
            class="counter__num js--counterNum"
            data-counter-end="240"
            data-counter-step="10"
            data-counter-add="k+"
          >
            0
          </span>
          <span class="counter__desc">Total Sale</span>
        </li>

        <li class="counter__item">
          <span
            class="counter__num js--counterNum"
            data-counter-end="100"
            data-counter-step="10"
            data-counter-add="k+"
          >
            0
          </span>
          <span class="counter__desc">Auctions</span>
        </li>

        <li class="counter__item">
          <span
            class="counter__num js--counterNum"
            data-counter-end="240"
            data-counter-step="10"
            data-counter-add="k+"
          >
            0
          </span>
          <span class="counter__desc">Artists</span>
        </li>
      </ul>
    </div>
  </div>
</section>
