/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
// colors
:root {
  // base
  --font-family: "Work Sans", sans-serif;
  --second-family: "SpaceMono", sans-serif;
  --content-width: 1050px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --accent-color: #a259ff;
  --grey-color: #2b2b2b;
  --grey-opacity-color: rgba(43, 43, 43, 0.99);
  --light-grey-color: #3b3b3b;
  --small-title-color: #858584;

  // other styles
  --light-shadow: 0 0 15px rgba(255, 255, 255, 0.07);
}
